<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.admin.mapper.BillMapper">

    <resultMap id="bill" type="com.ym.admin.entity.Bill">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="un_code" property="unCode" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="detail" property="detail" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="bill_sel">
        id
        ,create_time,un_code,type,amount,detail
    </sql>


    <select id="findAll" resultMap="bill" parameterType="com.ym.admin.vo.bill.BillListVO">
        select
        <include refid="bill_sel"/>
        from t_bill
        where 1=1
        <if test="type != null and type != 0">
            and type = #{type}
        </if>
        order by create_time desc
    </select>


    <insert id="insert" parameterType="com.ym.admin.entity.Bill">
        insert into t_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="unCode != null and unCode != ''">
                un_code,
            </if>
            <if test="type != null and type != 0">
                type,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="detail != null and detail != ''">
                detail,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="unCode != null and unCode != ''">
                #{unCode},
            </if>
            <if test="type != null and type != 0">
                #{type},
            </if>
            <if test="amount != null">
                #{amount},
            </if>
            <if test="detail != null and detail != ''">
                #{detail},
            </if>
        </trim>
    </insert>


</mapper>