<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.admin.mapper.CustomerMapper">

    <resultMap id="customer" type="com.ym.admin.entity.Customer">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="un_code" property="unCode" jdbcType="VARCHAR"/>
        <result column="csm_name" property="csmName" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="deleted" property="deleted" jdbcType="INTEGER"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="customer_sel">
        id
        ,create_time,un_code,csm_name,mobile,type,deleted,age,sex
    </sql>


    <select id="findAll" resultType="com.ym.admin.dto.csm.CustomerAccountDTO"
            parameterType="com.ym.admin.vo.csm.CustomerVO">
        select
        csm.id,csm.create_time as createTime,csm.un_code as unCode,csm.csm_name as csmName,
        csm.mobile,csm.type,csm.deleted,csm.age,csm.sex,
        acc.balance
        from t_customer csm
        left join t_account acc on csm.id = acc.csm_id and csm.type = 2
        where 1=1
        <if test="csmName != null and csmName != ''">
            and csm.csm_name like CONCAT('%',#{csmName},'%')
        </if>
        <if test="mobile != null and mobile != ''">
            and csm.mobile like CONCAT('%',#{mobile},'%')
        </if>
        <if test="type != null and type != 0">
            and csm.type = #{type}
        </if>
        order by csm.deleted asc, csm.create_time desc
    </select>


    <select id="findById" resultMap="customer">
        select
        <include refid="customer_sel"/>
        from t_customer
        where id = #{id}
    </select>


    <insert id="insertOrUpdate" parameterType="com.ym.admin.vo.csm.CustomerListVO">
        <selectKey keyProperty="count" resultType="java.lang.Integer" order="BEFORE">
            select count(1) from t_customer where id = #{id}
        </selectKey>
        <if test="count > 0">
            update t_customer
            <set>
                <trim suffixOverrides=",">
                    <if test="unCode != null and unCode != ''">
                        un_code = #{unCode},
                    </if>
                    <if test="csmName != null and csmName != ''">
                        csm_name = #{csmName},
                    </if>
                    <if test="mobile != null and mobile != ''">
                        mobile = #{mobile},
                    </if>
                    <if test="type != null and type != 0">
                        type = #{type},
                    </if>
                    <if test="sex != null and sex != 0">
                        sex = #{sex},
                    </if>
                    <if test="age != null and age != 0">
                        age = #{age},
                    </if>
                </trim>
            </set>
            where id = #{id}
        </if>
        <if test="count == 0">
            insert into t_customer
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="unCode != null and unCode != ''">
                    un_code,
                </if>
                <if test="csmName != null and csmName != ''">
                    csm_name,
                </if>
                <if test="mobile != null and mobile != ''">
                    mobile,
                </if>
                <if test="type != null and type != 0">
                    type,
                </if>
                <if test="sex != null and sex != 0">
                    sex,
                </if>
                <if test="age != null and age != 0">
                    age,
                </if>
            </trim>
            <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
                <if test="unCode != null and unCode != ''">
                    #{unCode},
                </if>
                <if test="csmName != null and csmName != ''">
                    #{csmName},
                </if>
                <if test="mobile != null and mobile != ''">
                    #{mobile},
                </if>
                <if test="type != null and type != 0">
                    #{type},
                </if>
                <if test="sex != null and sex != 0">
                    #{sex},
                </if>
                <if test="age != null and age != 0">
                    #{age},
                </if>
            </trim>
        </if>
    </insert>

    <update id="updateDeleted">
        update t_customer
        set deleted = #{deleted}
        where id = #{id}
    </update>

    <insert id="saveRecord" parameterType="com.ym.admin.entity.ComboChangeRecord">
        insert into t_customer_change_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="csmId != null">
                csm_id,
            </if>
            <if test="beforeContent != null and beforeContent != ''">
                before_content,
            </if>
            <if test="afterContent != null and afterContent != ''">
                after_content,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="csmId != null">
                #{csmId},
            </if>
            <if test="beforeContent != null and beforeContent != ''">
                #{beforeContent},
            </if>
            <if test="afterContent != null and afterContent != ''">
                #{afterContent},
            </if>
        </trim>
    </insert>


    <select id="findAllRecord" resultType="com.ym.admin.dto.cbo.RecordListDTO"
            parameterType="com.ym.admin.vo.RecordListVO">
        select cr.id,cr.create_time as createTime,c.un_code as unCode,
        cr.before_content as beforeContent, cr.after_content as afterContent
        from t_customer_change_record cr
        left join t_customer c on c.id = cr.csm_id
        where 1=1
        <if test="unCode != null and unCode != ''">
            and c.un_code = #{unCode}
        </if>
        order by cr.create_time desc
    </select>
</mapper>