<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出库记录</title>
    <link href="/common/element/element-index.css" type="text/css" rel="stylesheet"/>
    <link href="/common/css/baseStyle.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/common/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/common/vue/vue.min.js"></script>
    <script type="text/javascript" src="/common/element/element-index.js"></script>
    <script type="text/javascript" src="/common/axios/axios.min.js"></script>
    <script type="text/javascript" src="/common/myutil/axios_util.js"></script>
    <script type="text/javascript" src="/common/myutil/my_util.js"></script>
    <script type="text/javascript" src="/common/myutil/myEl.js"></script>
</head>
<body>
<div id="vmApp" v-cloak>
    <template>
        <el-card>
            <!-- 查询模块-->
            <el-row>
                <el-form :inline="true" :model="queryForm" ref="queryFormRef" size="medium" class="demo-form-inline">
                    <el-form-item label="产品名称" prop="prodName">
                        <el-input v-model="queryForm.prodName"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="doQuery">查询</el-button>
                        <el-button @click="resetQuery('queryFormRef')">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-row>
            <!-- 列表模块 -->
            <el-table :data="tableData" v-loading="tableConfig.loading" :max-height="$(document).height() - 150" stripe
                      border
                      highlight-current-row style="width: 98%" :cell-style="{padding:0}">
                <el-table-column :type="tableConfig.type" width="50px"></el-table-column>
                <el-table-column prop="createTime" label="创建时间" show-overflow-tooltip></el-table-column>
                <el-table-column prop="prodName" label="产品名称" show-overflow-tooltip></el-table-column>
                <el-table-column prop="type" label="类型" show-overflow-tooltip
                                 :formatter="colFormatter"></el-table-column>
                <el-table-column prop="num" label="数量" show-overflow-tooltip></el-table-column>
                <el-table-column prop="note" label="备注" show-overflow-tooltip></el-table-column>
            </el-table>
            <!-- 分页部分 -->
            <div class="block" v-if="pageable.total > pageable.size">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="pageable.page"
                        :page-sizes="[10, 20, 50, 100]"
                        :page-size="pageable.size"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="pageable.total">
                </el-pagination>
            </div>

        </el-card>
    </template>
</div>

<script>
    let vData = {
        queryForm: {
            prodName: '',
            type: 2
        },
        tableData: [],
        tableConfig: {
            loading: true,
            type: 'index',
        },
        pageable: {
            page: 1,
            size: 10,
            total: 0
        }
    };

    let vm = new Vue({
        el: '#vmApp',
        data: vData,
        methods: {
            doQuery,
            resetQuery,
            colFormatter,
            handleSizeChange,
            handleCurrentChange
        }
    });

    $(function () {
        getData();
    });

    function getData() {
        vData.tableConfig.loading = true;
        let vJsonForm = {"pageable": vData.pageable};
        vJsonForm = Object.assign(vJsonForm, vData.queryForm)
        axios.post('/api/product/outInRecodeList', vJsonForm)
            .then(function (response) {
                let res = response.data;
                vData.tableData = res.data.content;
                vData.pageable.total = res.data.count;
                vData.tableConfig.loading = false;
            })
            .catch(function (error) {
                vData.tableData.loading = false;
            })

    }


    function colFormatter(row, column, cellValue, index) {
        if (column.property === 'type') {
            if (cellValue === 1) {
                return '入库';
            } else if (cellValue === 2) {
                return '出库';
            }
        }
    }

    function handleSizeChange(val) {
        vData.pageable.size = val;
        getData();
    }

    function handleCurrentChange(val) {
        vData.pageable.page = val;
        getData();
    }

    function doQuery() {
        getData();
    }

    function resetQuery() {
        vm.$refs['queryFormRef'].resetFields();
        getData();
    }


</script>
</body>

<style>
    [v-cloak] {
        display: none;
    }

    .edit-form .el-form-item {
        width: 400px;
    }

    .edit-form .el-select {
        width: 100%;
    }

    .edit-form .el-input-number {
        width: 100%;
    }

</style>
</html>