<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录 | 伊美美肤</title>
    <link href="/common/element/element-index.css" type="text/css" rel="stylesheet"/>
    <link href="/common/css/baseStyle.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/common/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/common/vue/vue.min.js"></script>
    <script type="text/javascript" src="/common/element/element-index.js"></script>
    <script type="text/javascript" src="/common/axios/axios.min.js"></script>
    <script type="text/javascript" src="/common/myutil/axios_util.js"></script>
    <script type="text/javascript" src="/common/myutil/my_util.js"></script>
    <script type="text/javascript" src="/common/myutil/myEl.js"></script>
</head>
<body>
<!--内容-->
<div class="content">
    <div class="loginCard">
        <div id="vmApp">
            <template>
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span><i class="el-icon-eleme"> 伊美科技美肤中心管理系统</i></span>
                    </div>
                    <div>
                        <el-form :model="form" ref="form">
                            <el-form-item prop="username" :rules="[{required: true, message: '账号不能为空'}]">
                                <el-input v-model="form.username" clearable auto-complete="off" placeholder="账号"
                                          @keyup.enter.native="login"></el-input>
                            </el-form-item>
                            <el-form-item prop="password" :rules="[{required: true, message: '密码不能为空'}]">
                                <el-input id="password" v-model="form.password" show-password auto-complete="off"
                                          placeholder="密码"
                                          @keyup.enter.native="login"></el-input>
                            </el-form-item>
                        </el-form>
                        <div>
                            <el-checkbox v-model="checked" @change="rememberPwd">记住密码</el-checkbox>
                            <span style="color:red; padding-left: 15%;">
                        {{retInfo}}
                    </span>
                        </div>
                        <el-row style="padding-left:75%;">
                            <el-button type="success" @click="login">登录</el-button>
                        </el-row>
                    </div>
                </el-card>
            </template>
        </div>
    </div>
</div>

<script src="/common/other/L2Dwidget.min.js"></script>
<script>
    L2Dwidget.init({
        "model": {
            //jsonpath控制显示那个小萝莉模型，下面这个就是我觉得最可爱的小萝莉模型，替换时后面名字也要替换掉
            jsonPath: "https://unpkg.com/live2d-widget-model-koharu@1.0.5/assets/koharu.model.json",
            "scale": 1
        },
        "display": {
            "position": "right", //看板娘的表现位置
            "width": 120,  //小萝莉的宽度
            "height": 240, //小萝莉的高度
            "hOffset": 0,
            "vOffset": -20
        },
        "mobile": {
            "show": true,
            "scale": 0.5
        },
        "react": {
            "opacityDefault": 0.7,
            "opacityOnHover": 0.2
        }
    });
</script>
<!--背景线条-->
<script src="/common/other/canvas-nest.min.js"></script>
</body>

<script>

    let vData = {
        form: {
            username: '',
            password: ''
        },
        checked: false,
        retInfo: ''
    };

    let vm = new Vue({
        el: '#vmApp',
        data: vData,
        methods: {
            login() {
                vm.$refs['form'].validate((valid) => {
                    if (valid) {
                        vData.retInfo = '';
                        submitLogin();
                    } else {
                        return false;
                    }
                });
            },
            rememberPwd() {
                console.log('记住密码');
            }
        }
    });

    function submitLogin() {
        console.log(vData.form)
        axios.post('/api/login', vData.form)
            .then(function (response) {
                let res = response.data;
                console.log(res);
                if (res.code === 200) {
                    let token = res.data.token;
                    let user = res.data.agent;
                    myUtil.setToken(token);
                    window.location.href = "/myIndex.html";
                    myUtil.setPmAgent(JSON.stringify(user));
                } else {
                    vData.retInfo = res.msg;
                }
            })
            .catch(function (error) {
                console.log("系统异常");
            })

    }
</script>

<style>
    /* rgb对照表：
    https://bj.96weixin.com/tools/rgb */
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-image: url("/images/bg.jpg");
        overflow-x: hidden;
        overflow-y: hidden;
        background-size: 100%;
    }

    .content {
        width: 99%;
        height: 99%;
        display: flex;
        align-items: center; /*垂直居中*/
        justify-content: center; /*水平居中*/
    }

    .loginCard {
        width: 400px;
        height: 300px;
        font-family: "lato", sans-serif;
        font-weight: 300;
        z-index: 1;
    }
</style>
</html>